{{- range $_, $host := $.Values.hosts }}
kind: NMStateConfig
metadata:
  labels:
    infraenvs.agent-install.openshift.io: {{ $.Values.cluster }}
  name: {{ $host.name }}
  namespace: {{ $.Values.cluster }}
spec:
  config:
    dns-resolver:
      config:
        server:
          {{- range $_, $dnsServer := $.Values.dnsServers }}
          - $dnsServer
          {{ end }}
    interfaces:
      {{- if ((index $.Values "useBond") | default true) }}
        {{- $bondName := printf "%s%s" "bond." (toString $.Values.vlan) }}
      - ipv4:
          dhcp: false
          enabled: false
        ipv6:
          enabled: false
        link-aggregation:
          mode: active-backup
          port:
            {{- range $idx, $interface := $host.interfaces }}
            - {{ (index $interface "name") | default (printf "%s%s" "eno" (toString (add1 $idx))) }}
            {{ end }}
        mac-address: {{ index $host "primaryMac" | default $host.interfaces[0].macAddress }}
        name: bond0
        state: up
        type: bond
      - ipv4:
          address:
            - ip: {{ $host.IP }}
              prefix-length: {{ $.Values.machinePrefixLength }}
          dhcp: {{ index $.Values "useDHCP" | default false }}
          enabled: true
        ipv6:
          enabled: false
        name: {{ $bondName }}
        state: up
        type: vlan
        vlan:
          base-iface: bond0
          id: {{ $.Values.vlan }}
    routes:
      config:
        - destination: 0.0.0.0/0
          next-hop-address: {{ $.Values.defaultGateway }}
          next-hop-interface: {{ $bondName }}
      {{ end }}
  interfaces:
    {{- range $_, $interface := $host.interfaces }}
    - macAddress: {{ $interface.macAddress }}
      name: {{ index $host "primaryMac" | default $host.interfaces[0].macAddress }}
    {{ end }}

